
#first {
  width: 470px;
  height: 250px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  margin-top: 15px ;
  float:left;
  
}


#second {
  width: 350px;
  height: 80px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:left;

}
#seventh {
  width: 350px;
  height: 80px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:right;
  margin-top:1px;
}
#nineth{
   width: 350px;
  height: 80px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:right;
  text-align:center; 
}
#tenth{
  width: 350px;
  height: 80px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:right;

}
#third {
  width: 400px;
  height: 700px;
  border: 2px solid black;
  padding: 20px;
  margin-top: 15px;
  text-align:left bottom;
  float:right;
}
#fourth {
  width: 350px;
  height: 80px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float: right;}

#fifth {
  width: 160px;
  height: 393px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:right;
}

#sixth {
  width: 210px;
  height: 370px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
  float:left;}


 
#eight {
  width: 350px;
  height: 100px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  float:left;
  text-align:center;
}
